<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="introduction_page">
    <header class="header_page">
      <button class="header_button">Finance App</button>
    </header>
    <div class="introduction_title">
      <p class="title">The most transparent & secure <span>banking ever</span></p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque id mollitia, ipsam, repellendus distinctio alias perferendis reprehenderit corporis consectetur nisi sapiente corrupti dolorem odio eius?</p>
    </div>
  </div>
  <div class="first">
    <div class="first_buttons">
      <button class="button_started">Get started</button>
      <button class="button_learn">Learn more</button>
    </div>
  <div class="main_container">
    <div class="main_container_image">
      <img src="../assets/img/68729079-grupo-de-personas-está-sentado-frente-a-la-computadora-portátil-miran-en-la-pantalla-con-seriedad.jpg" alt="image">
    </div>
  <div class="main_review_card">
    <div class="main_review_card_image">
      <img src="../assets/img/profile_image.png" alt="image">
    </div>
    <div class="main_review_card_text">
    <span>"The best finance bank"</span><br>
    <p>John Carter - Finance manager</p>
  </div>
  </div>
  <div class="graphic_main_card">
    <div class="graphic_main_title">Business account</div>
    <div class="graphic_main_price">${{ number }}</div>
    <div class="graphic_main_graphic"></div>
    <div class="graphic_main_payment">
      <div class="graphic_main_payment_image">
        <img src="../assets/img/payment_received.png" alt="image">
      </div>
      <div class="main_review_card_text">
      <p>Payment received</p>
    </div>
    </div>
  </div>
</div>

<div class="second-container">
  <div class="second-container-header">
  <button class="button-features">Features</button>
  </div>
  <div class="title-second">
  <span>The features that make our<p class="underline">bank unique</p></span><p class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem incidunt ullam veritatis architecto laudantium iste, deleniti iusto illum maiores excepturi, veniam adipisci.</p>
  </div>

  <div class="second-container-cards">
    <div class="card card-mobile-app">
        <div class="mobile-app-image">
          <img src="../assets/img/mobile_app.png" alt="image">
        </div>
        <div class="card-title">Mobile app</div>
        <div class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis et alias doloremque officia accusantium dolorum recusandae cupiditate distinctio delectus.</div>
    </div>

    <div class="card card-crypto-supported">
        <div class="crypto-supported-image">
          <img src="../assets/img/crypto_supported.png" alt="image">
        </div>
        <div class="card-title">Crypto supported</div>
        <div class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis et alias doloremque officia accusantium dolorum recusandae cupiditate distinctio delectus.</div>
    </div>

    <div class="card card-bit-security">
        <div class="bit-security-image">
          <img src="../assets/img/bit_security.png" alt="image">
        </div>
        <div class="card-title">256-bit security</div>
        <div class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis et alias doloremque officia accusantium dolorum recusandae cupiditate distinctio delectus.</div>
    </div>

    <div class="card card-world-support">
        <div class="world-support-image">
          <img src="../assets/img/world_class_support.png" alt="image">
        </div>
        <div class="card-title">World-class supported</div>
        <div class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis et alias doloremque officia accusantium dolorum recusandae cupiditate distinctio delectus.</div>
    </div>

    <div class="card card-expense-reports">
        <div class="expense-reports-image">
          <img src="../assets/img/expense_reports.png" alt="image">
        </div>
        <div class="card-title">Expense reports</div>
        <div class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis et alias doloremque officia accusantium dolorum recusandae cupiditate distinctio delectus.</div>
    </div>

    <div class="card card-automatic-payments">
        <div class="automatic-payments-image">
          <img src="../assets/img/automatic_payments.png" alt="image">
        </div>
        <div class="card-title">Automatic payments</div>
        <div class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis et alias doloremque officia accusantium dolorum recusandae cupiditate distinctio delectus.</div>
    </div>
  </div>
</div>
</div>
</body>
</html>